<div class="workspace">
  <div class="flexColumn" style="height: 10vh"></div>

  <div style="margin-left: 5%">

    <div class="flexRow">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1 style-="color: #E67E22">Using Hunter</h1>
        </div>
      </div>
    </div>

    <div class="flexRow" style="height: 3vh"></div>

    <div class="flexRow">
      <div class="card card-content">
        <div class="explainText">
          <p>Hunter works along side of the financial manager, engineer, or researcher.
          </p>
          <p>It relies on the knowledge their human partner(s) have accrued from their knowledge
            and years of experience.  Hunter then can wade through complex subjects consisting of huge possibilities
            to help bring focus to possible solutions.
          </p>
          <p>In business and finance, it has been proven effective in investments and business strategy.</p>
          <p>Hunter can sense changes in the problem environment and adapt as needed.</p>
          <div style="margin-left: 20px">
            <p>The application has documentation and tutorials to help get you started and
              models suited for your field of interest.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

