<div class="workspace">
  <div class="flexColumn">
    <!-- left column -->
    <div  style="height: 12vh"></div>
    <div style="margin-left: 4%">
      <div class="flexRow">
        <div class="card card-titles">
          <div style="margin: 5px 15px; z-index: 1;">
            <h1>Technical Support</h1>
          </div>
        </div>
      </div>

      <div class="flexRow" style="height: 2vh"></div>

      <div class="flexRow">
        <div class="card card-content">
          <div class="explainText">
            <p>For <b>General or Sales information</b>, please go to Contacts -> Contact Us.</p>
            <p>For <b>Technical Support</b> fill in the information below and we will either email or set up a chat session.
            </p>
          </div>
        </div>
      </div>
    </div>

      <div class="flexRow" [ngStyle]="{'justify-content': 'flex-end'}">
        <form [formGroup]="SupportGroup" (ngSubmit)="submitSupport()">
          <div style="height: 3vh"></div>
          <div style="margin-right: 5vw, width: 30vw, color: white, display: flex, flex-direction: column, justify-content: flex-start, grow: 1">
            <!-- <div> <span>this.SupportGroup.</span> -->
              <label for="login">Login ID:</label> 
                <span style="color:yellow" 
                      *ngIf="f.login.touched && (f.login.hasError('required') || f.emloginail.hasError('minlength'))">
                   <strong> Id required</strong> (or use contact Us)</span>
              <input type="text" class="form-control" formControlName="login">
            </div>
            <div>
              <label for="email">Email:</label>
              <span style="color:yellow" 
                *ngIf="f.email.touched && (f.email.hasError('required') || f.email.hasError('minlength'))">
                <strong> Email is required</strong></span>
           <input type="text" class="form-control" formControlName="email">
            </div>
            <div>
              <label for="phone">Phone:</label>
              <span style="color:yellow" 
                 *ngIf="f.phone.touched && this.SupportGroup.controls.phone.value != null && f.phone.hasError('pattern') ">
                <strong> Email is required</strong></span>
              <input type="text" class="form-control" formControlName="phone">
            </div>
            <div>
              <label style="margin-top: 20px;" for="message">Message:</label>
              <span style="color:yellow" *ngIf="f.message.touched && (f.message.hasError('required') || f.message.hasError('minlength'))">
                <strong> Message is required</strong></span>
              <textarea rows="10" cols="50" formControlName="message"></textarea>
            </div>
            <div>
              <button [disabled]="!this.SupportGroup.valid" class="btn btn-success" type="submit" >Submit</button>
            </div>

        </form>
      </div>
  </div>
</div>

