<div class="workspace">
  <div class="flexColumn" style="height: 10vh"></div>

  <div style="margin-left: 5%">
    <div class="flexRow">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1 style="color: #E67E22">Artificial Intelligence</h1>
        </div>
      </div>
    </div>

    <div class="flexRow" style="height: 3vh"></div>

    <div class="flexRow">
      <div class="card card-content">
        <div class="explainText">
          <p>The following is a brief overview of the power of
          Artificial Intelligence and Genetic Algorithms.</p>
          <p><b>Artificial Intelligence</b> is where computers mimic the way in which humans think, behave, or evolve
            in order to find a solution.  They pretend to be humanlike - only they do it really fast.
            Some AI systems are called "Expert Systems" in that they are "hard-wired" to have all the information needed
            to build something like and F-18 fighter.  IF anything is found that it doesn't know, a team of human experts
            get together and come up with an answer and then build it in to the "Expert System" so all Technicians and
            Engineers can rely on it.  However, Expert Systems deal with <b>known</b> problems meaning they are not
            intended to learn or adapt.
          </p>
          <p>Solution Hunter is based on a model called <b>Genetic Algorithms</b>, which - in its enhanced form - has proven to
            be very powerful and service a great many needs with less effort. </p>
          <p>Hunter defines populations of individuals who have tools for solving a problem. Some are better than others and most of them
            will intermarry and give birth to children that are a blend of their parents' characteristics.  Suffering mutations and plagues, they
            evolve quickly over thousands of generations and migrate toward a best solution in lightning speed.  However,
          in this case, thousands of generations occur very quickly and are enhanced by simultaneous use of multiple computers.</p>

        </div>
      </div>
    </div>
  </div>

</div>


