<div class="workspace">
  <div class="flexColumn" style="height: 10vh"></div>

  <div style="margin-left: 5%">
    <div class="flexRow">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1 style="color: #E67E22">Features</h1>
        </div>
      </div>
    </div>

    <div class="flexRow" style="height: 3vh"></div>

    <div class="flexrow">
      <div class="card card-content">
        <div class="explainText">
          <p>Solution Hunter has developed new methods using the latest computing technologies that advance the
          state-of-the-art in this type of search engine.
          <p>
          <ul>
            <li>Hunter applies a variety of "plug-ins" targeted for problem areas.
            </li>
          <li>Hunter is targeted corporate use, but can be configured for small businesses.</li>
          <li>It can run on Azure, AWS, or corporate Systems (Windows).</li>
          <li>It is multi-threaded and can take full advantage of multiple local or remote computers for additional
            speed. </li>
          <li>	Hunter is highly configurable and can learn to improve its strategy
                to solve the current problem  more efficiently.
                When it finds a better “hunter”, it will dynamically switch to the more powerful image without interruption.
            </li>
          </ul>
          <p>Hunter itself is pursuing leading edge computing technologies to further improve its speed and assure
          stability well into the future.</p>
        </div>
      </div>
    </div>
  </div>

</div>

