<div class="workspace">
  <div class="flexColumn" style="height: 12vh"></div>

  <div style="margin-left: 5%">
    <div class="flexRow">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1 style="color:#E67E22">Researching With Hunter</h1>
        </div>
      </div>
    </div>

    <div class="flexRow" style="height: 3vh"></div>

    <div class="flexrow">
      <div class="card card-content">
        <div class="explainText">
          <p>Solution Hunter Engineering is itself using Hunter to do leading edge research in a number of areas. Some
            of the results will appear as new features within Hunter itself.</p>
          <p>NOTE: The industries that use Hunter are vary carefully controlled and often monitored by places like the
          FDA in the United States.  These certiciation processes are very rigourous and take a long time to complete.
          For this reason, Hunter as intermediate releases for "more casual use," but major releases are less frequent,
          undergo extensive internal testing and analysis, and do NOT undergo inter-release patches or updates.</p>
          <p>Major releases provide support contracts (see Contracts), while Minor releases has blogs.</p>
          <p>Hunter can be licensed in a number of forms:</p>
          <ul>
            <li>A major release can be purchased by a company for internal use.  Hunter Engineering supports the initial
              installation of all components and otherwise can be supported by a license (see Contracts). </li>
            <li>Hunter can be used on an as-needed basis on either AWS or Azure platforms.  They are billed per user and
            based on the number of resources used.  This is a less expensive way to "come up to speed" on using the tool.
            </li>
            <li>Adaptive pre-releasing - the "back-end of the Genetics part of Hunter" is very sensitive to the industry
            and subject of the research and thus, it almost always requires some customization.  This is where Solution
            Hunter Engineering works with the client company to build the backend "evaluators" (or adapt ones that Hunter
            may already have.) Whether the company chooses to purchase Hunter for full inhouse use or continue to use it
            on an AWS/Azure environment (with encryption), these licenses do not go into affect until:
              <ul>
                <li>The backend customiztion is completed, and</li>
                <li>The Federal certification has been completed</li>
              </ul>
              During these times, costs are much lower.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

