<div class="workspace">
  <div class="flexColumn">
    <!-- left column -->
    <div style="height: 10vh"></div>
    <div style="margin-left: 5%}">
      <div class="flexRow" >
        <div class="card card-titles">
          <div style="margin: 15px 15px; z-index: 1;">
            <h1 style="color: #E67E22">What's Hunter Consider a Challenge</h1>
          </div>
        </div>
      </div>

      <div class="flexRow" style="height: 3vh"></div>

      <div class="flexRow">
        <div class="card card-content">
          <div class="explainText">
            <p>Hunter Searches for answers for problems so vast that normal computer search methods can’t find
              an solution in a reasonable time - or maybe ever.</p>
            <p>
              A few examples:
            <ul>
              <li> Medical: A better material replacement for knee cartiledge. This is in the area of Material
                Science. Computers might try to assemble atoms and molecules for a material safe amongst the 300 types of cells
                in the human body yet has all the characteristics for elasticity, hardness, etc. needed.</li>
              <li> BioMedical research and areas such as Stem Cell Research, Cancer, or Viruses. </li>
                <li>Many problems are multi-part: first you must find a physical structure and
                then find a way to manufacture it.  Hunter can work simultaneously on both the product and the manufacturing.
              </li>
              <li> Predicting weather - <b>accurately</b>. Though a lot of work has gone into improving weather
                prediction over the years, it still has room for a lot of improvement.
              </li>
              <li> Disease Control - range from the common cold, flu, HIV, heart disease, and cancer.
              </li>
              <li> Financial Investment strategies. This is an area where computers are already controlling large
                portfolios and competing against other computers.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

