
<div class="workspace">
  <div class="flexColumn" style="height: 10vh"></div>

  <div style="margin-left: 5%;">
    <div class="flexRow" style="margin-bottom: 19px;">
      <div class="card card-titles">
        <div style="margin: 15px 15px; z-index: 1;">
          <h1>What is "Hunter"</h1>
        </div>
      </div>
    </div>

    <div class="flexRow" style="height: 3vh"></div>

    <div class="flexrow">
      <div class="card card-content">
        <div class="explainText">
          <p>Hunter Searches for answers to difficult problems - problems so vast that normal computer search methods
            can’t find a solution in a reasonable time.

          <p>For example, (Traveling Salesman problem) if (s)he is to
            visit each of 15 cities and stop at each city only one time, finding the shortest route by
            traditional searching
            involves about 1.6 Trillion combinations and can take super computer power centuries to resolve
            -- unless we use more advanced methods like AI/Genetic Algorithms.</p>

          <p>Historically, the approach to solve harder problems had been to use lots of computers
            for days, weeks, months, or even years. This is terribly expensive
            and often doesn't produce results in the time needed.</p>

          <p>Traditional searching mechanism may <i>not</i> find the optimal solution at all.</p>

          <p>Hunter would like to get you that answer "real soon now." And it can because it has been designed
            with the most advanced computing methods along with leading-edge enhancements to "Genetic
            Algorithms."</p>
        </div>
      </div>
    </div>
  </div>

</div>
